Debug
*.suo
/Unity/Shader/ShaderLeran/Library
/Unity/Shader/ShaderLeran/Temp
/Unity/Shader/ShaderLeran/obj
/UserManagerProject/sessions
/Unity/Spine/Library
/Unity/XLua/Library
/Unity/Material Merge/Temp
/Unity/Material Merge/Library
/Unity/Material Merge/obj
/Unity/TJFramework/Library
/Unity/TJFramework/windows
/LuaFileToTxtFile/.vs
/LuaFileToTxtFile/LuaFileToTxtFile/bin
/LuaFileToTxtFile/LuaFileToTxtFile/obj
/Unity/Material Merge/.vs
/excel_tool/.vs
/Python/test_1/.vscode
/Fund/.idea
/Unity/Material Merge/Logs
/Unity/Unity Catlike/obj
/Unity/Unity Catlike/Library
/Unity/Unity Catlike/Logs
/Unity/Unity Catlike/Temp
/TowerCrane/app/release
/ExcelDataTransform/ExcelDataTransform/bin
/ExcelDataTransform/packages
/ExcelDataTransform/ExcelDataTransform/obj
/ExcelDataTransform/.vs
