Debug
*.suo
/Unity/Shader/ShaderLeran/Library
/Unity/Shader/ShaderLeran/Temp
/Unity/Shader/ShaderLeran/obj
/UserManagerProject/sessions
/Unity/Spine/Library
/Unity/XLua/Library
/Unity/Material Merge/Temp
/Unity/Material Merge/Library
/Unity/Material Merge/obj
/Unity/TJFramework/Library
/Unity/TJFramework/windows
/LuaFileToTxtFile/.vs
/LuaFileToTxtFile/LuaFileToTxtFile/bin
/LuaFileToTxtFile/LuaFileToTxtFile/obj
/Unity/Material Merge/.vs
/excel_tool/.vs
