<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{45,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964a858c9c2fd593b9920b464176ac66:954ab5e47185e66e01ced9956715c69e:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
